# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

doom_scenario_path = cig.wad
doom_map = map01

#12 minutes
episode_timeout = 25200
episode_start_time = 2

# Rendering options
screen_resolution = RES_320X240
screen_format = CRCGCB
render_hud = false
render_crosshair = true
render_weapon = true
render_decals = false
render_particles = false

window_visible = false

# Available buttons
available_buttons = 
	{ 
        # basic movement
        ATTACK
        # TURN_LEFT
        # TURN_RIGHT
        MOVE_FORWARD
        MOVE_BACKWARD
        # strafe
        MOVE_RIGHT
        MOVE_LEFT
        # speed
        SPEED
        # mouse
        TURN_LEFT_RIGHT_DELTA
        #LOOK_UP_DOWN_DELTA
	}

# Game variables that will be in the state
available_game_variables = {SELECTED_WEAPON_AMMO HEALTH FRAGCOUNT}


mode = PLAYER

